.backImage{
    transition-duration: 0.5s;
    filter: blur(1px);
    animation-name: appearPhoto;
    animation-duration: 3s;
}
.backImage:hover{
    transition-duration: 0.5s;
    transform: scale(1.02);
    filter: blur(0px);

}
.goBack{
    transition-duration: 1s;
    transform: translate(-3em, 3em);
    filter: blur(5px);
}
.appear{
    animation-name: appearPhoto;
    animation-duration: 2s;
}
.goForward{
    transition-duration: 0.5s;
}
.homeText1{
    animation-name: appear;
    animation-duration: 2s;
}
@keyframes appearPhoto{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes appear {
    0%{opacity: 0;
        transform: translate(-5em);
    }
    100%{opacity: 1;
    transform: translateX(0em);}
}

.inServicesInit{
    opacity: 0;
}
.inServicesView{
    animation-name: servicesView;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes servicesView {
    0%{opacity: 0;
        transform: translateY(10em);
    }
    100%{opacity: 1;
        transform: translate(0em);
    }
}

.serviceView{
    animation-name: serviceView;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}